<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <div class="logo">
          <img src="https://www.clker.com/cliparts/A/K/h/3/U/N/tooth-md.png" width="50" height="50">
        </div>
        <span class="title">Appointment App - Admin Dashboard</span>
      </a>
    </div>
    <div class="header-actions">

    </div>
  </header>
  <div class="wrapper">
    <div *ngIf="users">
      <h1>Patients</h1>
    </div>
  </div>

